.form {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-around;
}

.title {
    font-size: 1.5rem;
    border-radius: 10px;
}

.timezone {
    width: 100px;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}
